.form {
  padding: 10px;
}

.button {
  width: 100%;
  margin-top: 10px;
}

.input {
  background-color: rgb(250, 250, 250);
  font-size: 12px;
  margin-bottom: 5px;
}

.hr {
  border: solid 1px rgb(219, 219, 219);
  margin: 20px 0px 10px 0px;
}

.signup {
  text-align: center;
}

.signup a {
  font-weight: bold;
}

.checkbox {
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
}