.container {
  background-color: rgb(250, 250, 250);
}

.menu {
  width: 100%;
  text-align: center;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentLeft {
  width: 650px;
  margin-right: 20px;
}

.contentRight {
  width: 300px;
  margin-top: 10px;
}

